* {
  box-sizing: border-box;
}

body {
  font-family: 'Unbounded', cursive;
  line-height: 50px;
  letter-spacing: 3px;
  font-size: 30px;
  text-align: center;
  background-color: #777;
}

html, body {
  margin: 0
}

header.container {
  justify-content: center;
  width: 100%;
  display: flex;
  background-color:  #3466af;
  color: #ffcb05;
  font-family: 'Pokemon Solid', sans-serif;
  padding: 0;
  margin: 0 auto;
  height: 150px;
  border: 2px #007bff solid;
  border-radius: 8px
}

.navbar-brand {
  font-size: 60px;
  letter-spacing: 5px
}

.intro {
  margin: 20px
}

.poke-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap
}

.poke-button {
  height: 55px;
  width: 200px;
  font-family: 'Pokemon Solid', sans-serif;
  line-height: 50px;
  letter-spacing: 4px;
  font-size: 19px;
  color: #ffcb05;
  background-color:  #3466af;
  margin: 5px;
  border-radius: 8px;
}

.modal {
  background-color: rgb(159, 160, 163, .3);
}

.modal-title {
  font-size: 40px;
  font-family: 'Pokemon Solid', sans-serif;
  letter-spacing: 5px;
}

.modal-content {
  background-color: #3466af;
  color: #ffcb05;
  font-size: 20px;
  line-height: 25px;
}

.modal-image {
  height: 150px
}